nav{
    display: flex;
    background-color: darkgray;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    padding: 1vw;
}

h2{
    margin-right: 86vw;
}

a{
    text-decoration: none;
    color: black;
}

main{
    background-color: black;
    color: white;
    border-radius: 2%;
    padding: 1vw;
    font-family: 'Konkhmer Sleokchher';
    margin: 2vw;
    height: 70vh;
    display: flex;
}

form{
    display: flex;
}

body{
    height: 100vh;
    background: linear-gradient(-45deg, black, gray);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Konkhmer Sleokchher';
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

img{
    border-radius: 7%;
    border: 3px white solid;
}

.cart:hover, a:hover{
    color: white;
    cursor: pointer;
}

.price{
    width: 47%;
    background-color: rgb(39, 39, 39);
    border-radius: 13%;
}

section{
    text-align: center;
}

button{
    background-color: darkred;
    color: white;
    border-radius: 5%;
    border: 2px red solid;
}

button:hover{
    background-color: red;
    border: 2px darkred solid;
}

div{
    display: flex;
}